$sidebar_bg : #F5F5F5;
#ef5-sidebar-area{
	@media (max-width: $screen-md-max){
		//margin-top: $grid-gutter-width * 2;
	}
	.sidebar-inner{
		position: relative;
		z-index: 1;
		@media (min-width: $screen-lg-min){
			//padding-left: $grid-gutter-width /2;
			//padding-right: $grid-gutter-width /2;
			[dir="rtl"] &{
				//padding-right: 0;
				//padding-left: $grid-gutter-width /2;
			}
		}
	}
	&.ef5-blogs{
		position: relative;
		background: $sidebar_bg;
		//@media (min-width: $screen-lg-min){
			&:before{
				content: '';
				display: block;
				width: 200vw;
				background: $sidebar_bg;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				[dir="rtl"] &{
					left: auto;
					right: 0;
				}
			}
		//}
		&.has-gtb:before{
			left: -50%;
		}
		@media (max-width: 991px){
			&:before{
				left: -50%;
			}
		}
	}

	&.has-gtb {
		padding-bottom: 40px;
		.sidebar-inner{
			margin-left: -15px;
			margin-right: -15px;
			display: flex;
			flex-wrap:wrap;
			> .widget{
				width: 100%;
				margin-left: 15px;
				margin-right: 15px;
				display: flex;
			    flex-grow: 1;
			    flex-direction: column;
				@media (min-width: $screen-md-min){
					width: calc(50% - 30px);
				}
				@media (min-width: $screen-lg-min){
					width: calc(33.333333% - 30px);
				}
				@media (min-width: $screen-xl-min){
					width: calc(25% - 30px);
				}
			}
		}
	}
}
@media (min-width: $screen-lg-min){
	.ef5-content-area[class*="col-lg"] .ef5-blogs{
		//padding-right: $grid-gutter-width /2;
		[dir="rtl"] &{
			//padding-left: $grid-gutter-width /2;
		}
	}

	.ef5-content-area.order-lg-1[class*="col-lg"] .ef5-blogs{
		//padding-right: 0;
		//padding-left: $grid-gutter-width /2;
		[dir="rtl"] &{
			//padding-left: 0;
			//padding-right: $grid-gutter-width /2;
		}
	}
}

// Widget on Left
.ef5-content-area.order-lg-1 + #ef5-sidebar-area.ef5-blogs{
	@media (min-width: $screen-lg-min){
		&:before{
			left: auto;
			right: 15px;
			[dir="rtl"] &{
				right: auto;
				left: 15px;
			}
		}
	}
}

@import 'widgets';
@import 'portfolio';

