.modal-content .donate-form{
	.form-close{
		position: absolute;
		right: 0;
		top: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		color: red;
		[dir="rtl"] &{
			left: 0;
			right: auto;
		}
	}
	.ef5-donate-form-header-title{
		font-size: 24px;
		font-weight: 600;
		color: $accent_color;
	}
	.ef5-donate-form-default-value{
		display: flex;
		flex-wrap: wrap;
		margin: -5px;
		> div{
			margin: 5px; 
		}
	}
	.ef5-donate-form-amount{
		display: flex;
		flex-wrap:wrap;
		justify-content: space-between;
		align-items: center;
		input{
			width: calc(100% - 20px);
		}
	}
	.form-group,
	.action-row{
		margin-top: 25px;
	}
}