.OverCome-Heading-16{
	display: flex !important;
	align-items: center;
	.line{
		flex: 0 0 30%;
		width: 30%;
		max-width: 66px;
		height: 2px;
		background: $white;
		margin: 0 10px;
	}
}

.tp-bannertimer{
	background: $accent_color !important;
}
.tparrows.uranus{
	color: #5F5F5F;
	&:hover:before{
		color: $accent_color;
	}
}
.tparrows.overcome-arrow-01{
	color: #5F5F5F;
	&:hover{
		color: $accent_color;
		&:before{
			color: $accent_color;
		}
	}
	&:before{
		color: #5F5F5F;
		//font-family: $FontFlaticon;
	}
	&.tp-leftarrow:before{
		//content: '';
	}
	&.tp-rightarrow:before{
		//content: '';
	}
}
body rs-dotted{
	&.twoxtwo{
		background: rgba(0,0,0,0.39);
	}
}