.wooscp_table table tr th{
	background: transparent!important;
	border: 0!important;
}
#woosq-popup .single-product .product{
	align-items:center;
	border-top: $MainBorder;
	&:last-child{
		border-bottom: $MainBorder;
	}
	td, th{
		border: none;
	}
	> * {
		padding-left: 20px;
		&:first-child{
			padding-left: 0;
		}
	}
}
#woosq-popup .woocommerce-grouped-product-list-item__quantity {
	.quantity{
		max-width: 80px;
		.qty{
			padding: 5px 0 5px 10px;
	   	 	max-width: 80px;
	   	}
	}
}