@media (max-width: 768px){
	#tribe-events-footer:after, #tribe-events-footer:before, #tribe-events-header:after, #tribe-events-header:before{
		display: none;
	}
	#tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-next, #tribe-events-footer .tribe-events-sub-nav .tribe-events-nav-previous{
		width: unset;
		a{
			background: transparent;
		}
	}
}