.tribe-events-month{
	@media (max-width: 767px){
	 	div[id*=tribe-events-daynum-]{
		    display: block;
		    margin-top: 0;
		    padding-top: 5px !important;
		    padding-bottom: 5px !important;
		}
	}
}