.tribe-events-single-event-description{
	p{
		margin-bottom: 30px!important;
		&:last-child{
			margin-bottom: 0!important;
		}
	}
	h4{
		margin-bottom: 10px;
	}
}
.tribe-events-single{
	.ef5-tribe-event-start-date{
		background: var(--accent-color);
		font-size: 18px;
		font-weight: 500;
		color: var(--primary-color);
		text-align: center;
		padding: 5px;
		min-width: 63px;
		border-radius: 5px;
		span{
			display: block;
			&.ef5-tribe-date{
				color: white;
				font-size: 36px;
				font-weight: 600;
			}
		}
	}
}