.ef5-single-event-cmt{
	.commentlist-wrap{
		border: none;
		padding: 0;
		margin-top: 0;
	}
	.comments-title{}
	.commentlist{
		.comment{
			background: #f5f5f5;
			border-radius: 10px;
			padding: 20px;
			border: 1px solid #f5f5f5;
		}
	}
}