$gallery_w: $overcome_product_single_gallery_w;
$main_image_w: $overcome_product_single_image_w;
$thumbnail_w : $overcome_product_gallery_thumbnail_v_w;

$flex_main_image: ($main_image_w/$gallery_w)*100%;
$flex_thumb_image: ($thumbnail_w/$gallery_w)*100%;

.ef5-wc-img-summary.thumbnail_v{
	.ef5-product-gallery-inner{
		@include d-flex();
		margin-left: #{$overcome_product_gallery_thumbnail_space/-2}px;
		margin-right: #{$overcome_product_gallery_thumbnail_space /-2}px;
	}
	.ef5-single-product-gallery-wraps-inner{
		position: relative;
		overflow: hidden;
	}
	.ef5-single-product-gallery-wraps,
	.wc-gallery-sync{
		padding-left: #{$overcome_product_gallery_thumbnail_space /2}px;
		padding-right: #{$overcome_product_gallery_thumbnail_space /2}px;
	}
	.ef5-single-product-gallery-wraps{
		flex: 0 0 $flex_main_image;
		width: $flex_main_image;
		&.thumb-left{
			order: 2;
		}
	}
	.wc-gallery-sync{
		flex: 0 0 $flex_thumb_image;
		width: $flex_thumb_image;
	}
	.wc-gallery-sync{
		margin-top: 0;
	}
	.wc-gallery-sync-slide{
		float: none !important;
		margin-bottom: $gallery_thumbnail_space;
	}

	.wc-gallery-sync .flex-direction-nav{
		a{
			left: 50%;
			@include transform(translate(-50%,0));
		}
		.flex-prev{
			top: 15px;
			.flex-prev-icon:before{
				content: "\f118";
			}
		}
		.flex-next{
			top: auto;
			bottom: 15px;
			.flex-next-icon:before{
				content: "\f119";
			}
		}
	}
}