#woosq-popup{
	.product-single-title{
		font-size: 22px;
		font-weight: 400;
		color: $accent_color;
		padding-bottom: 10px;
	}
	.woocommerce-product-rating{
		padding-top: 8px;
		padding-bottom: 0;
	}
	.woocommerce-product-details__short-description{
		padding-top: 18px;
	}
	.single-product tr.product{
		display: inherit;
		border-top: 1px solid #ddd;
		td{
			padding-left: 5px;
			padding-right: 5px;
			border:none;
		}
	} 
	.ef5-product-meta{
		border-top: none;
	    margin-top: 0;
	    padding-top: 21px;
	}
}