.ef5-owl-nav-button{
	cursor: pointer;
	z-index: 1;
	border: none;
	outline: none;
}
.ef5-owl-nav {
	span{
		font-size: 0;
		text-indent: -10000px;
		border: 2px solid #c5c5c5;
		width: 30px;
	    height: 30px;
	    display: block;
	    transform: rotate(45deg);
	    &:hover{
			border-color: $accent_color;
		}
	}
	.ef5-owl-prev{
		span{
			border-right-width: 0;
		    border-top-width: 0;
		}
	}
	.ef5-owl-next{
		span{
			border-left-width: 0;
			border-bottom-width: 0;
		}
	}
	&.vertical{
		.ef5-owl-nav-button{
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
		}
		.ef5-owl-next{
			right: 25px;
		}
		.ef5-owl-prev{
			left: 25px;
		}
	}
}
.ef5-owl-nav-pos-vertical.outside {
	@media (max-width: 1280px){
		.ef5-owl-next{
			right: -40px!important;
		}
		.ef5-owl-prev{
			left: -40px!important;
		}
	}
}

// Default 
.owl-carousel:not(.ef5-owl){
	.owl-nav{
		span{
			font-size: 0;
			text-indent: -10000px;
			border: 2px solid #c5c5c5;
			width: 30px;
		    height: 30px;
		    display: block;
		    transform: rotate(45deg);
		    &:hover{
				border-color: $accent_color;
			}
		}
		.owl-prev{
			span{
				border-right-width: 0;
			    border-top-width: 0;
			}
		}
		.owl-next{
			span{
				border-left-width: 0;
				border-bottom-width: 0;
			}
		}
	}
}