.error404{
	background: url(../images/404.jpg) center center no-repeat cover;
}
.error404 #ef5-main{
	padding: 110px 0;
}
.err-msg-large{
	font-size: 60px;
	padding: 20px 0 0;
}
.err-msg-small{
	padding-bottom: 58px;
}