.error404 {
	#ef5-main{
		padding: 110px 0;
	}
	&.ef5-body-header-ontop{
		#ef5-main{
			@media (min-width: 1200px){
				padding-top: 260px;
			}
		}
	}
}
.ef5-404-img{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.error-404 {
	background: rgba(0,0,0,0.72);
	padding: 30px;
	@include border-radius(10px);
	@media(min-width: 992px){
		padding: 67px 125px 95px 125px;
		.search-field{
			min-width: 530px;
		}
	}
}
.err-msg-large{
	font-size: 60px;
	color: $white;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
	@media (min-width: 992px){
		font-size: 200px;
	}
}
.err-msg-medium{
	font-size: 36px;
	padding-bottom: 5px;
	font-weight: 700;
	color: $accent_color;
}

.err-msg-small{
	font-size: 18px;
	font-weight: 500;
	color: $white;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 65px;
}
.back-home{
	padding-bottom: 30px;
}