.ef5-post-item-layout-2{
	.ef5-post-item-inner{
		@include border-radius(10px);
		overflow: hidden;
		border: $MainBorder;
		background: $white;
	}
	.ef5-post-info{
		padding: 25px 30px;
	}
	.ef5-excerpt{
		padding-top: 15px;
		margin-bottom: 0;
	}
	.ef5-donate-progress-donor{
		padding-top: 20px;
		.ef5-donation-donor{
			color: $accent_color;
			font-weight: 500;
		}
		.ef5-donate-progress-value{
			color: #2f2f2f;
		}
		.ef5-donate-progress-bar{
			@include border-radius(5px);
			.ef5-donate-progress-bar-value{
				@include border-radius(5px);
				@include background-horizontal($darkent_accent_accent, $lightent_accent_accent);
			}
		}
	}
	.ef5-donation-amount{
		padding-top: 12px;
		.ef5-donation-raised .ef5-value{
			font-weight: 700;
			color: #777;
		}
		.ef5-donation-goal .ef5-value{
			font-weight: 700;
			color: $accent_color;
		}
	}
	.ef5-readmore{
		margin-top: 25px;
	}
}