.ef5-post-item-layout-1{
	.ef5-post-item-inner{
		@include border-radius(10px);
		overflow: hidden;
		border: $MainBorder;
		background: $white;
	}
	.ef5-post-info{
		padding: 25px 30px;
	}
	.ef5-excerpt{
		padding-top: 15px;
	}
}