.ef5-post-item-layout-1{
	.ef5-post-item-inner{
		@include border-radius(10px);
		overflow: hidden;
		border: $MainBorder;
		background: $white;
	}
	.ef5-post-info{
		padding: 25px 30px;
	}
	.ef5-excerpt{
		padding-top: 15px;
		margin-bottom: 0;
	}
	.ef5-donate-progress-donor{
		padding-top: 20px;
	}
	.ef5-donation-amount{
		padding-top: 5px;
	}
	.ef5-readmore{
		margin-top: 25px;
	}
}