.ef5-list{
	padding: 0;
	margin: 75px 0 0;
	&:first-child{
		margin-top: 0;
	}
}
.ef5-featured{
	&.loop{
		margin-bottom: 49px;
	}
	&.single{
		margin-bottom: 35px;
		padding-top: 10px;
	}
}
.ef5-post-header{
	padding-bottom: 20px;
	.ef5-heading{
		border-bottom: $MainBorder;
		padding-bottom: 23px;
	}
	.ef5-before-title{
		margin-bottom: 23px;
	}
	.ef5-after-title{
		margin-top: 25px;
	}
	.ef5-header{
		padding-bottom: 20px;
	}
}
.ef5-post-footer{
	margin-top: 30px;
	> div {
		padding: 20px $grid-gutter-width / 2;
	}
	&:before,
	&:after{
		content: '';
		margin: 0 15px;
		flex: 0 0 calc(100% - 30px);
		border-top: $MainBorder;
	}
}
.ef5-content{
	.wp-video{
		margin-bottom: $grid-gutter-width;
	}
}

.ef5-readmore{
	margin-top: 35px;
	&.simple{
		margin-top: 18px;
		font-size: $BodyFontSizeXS;
	}
}

.ef5-gallery, 
.ef5-video,
.ef5-audio,
.ef5-quote,
.ef5-link{
	.ef5-readmore-circle{
		bottom: 0;
		right: 0;
		top: auto;
		left: auto;
		z-index: 2;
		@include transform(translate(-10px, -10px));
	}
}