// Text Color
@each $name, $color in $ef5-colors{
	.text-#{$name},
	.#{$name}-color{
		color: $color;
	}
	.text-hover-#{$name}:hover{
		color: $color;
	}
	.link-#{$name} a,
	.link-#{$name}-color a{
		color: $color;
		&:hover{
			color: $accent-color;
		}
	}
	.link-hover-#{$name} a:hover{
		color: $color;
	}
}
// Background color
@each $name, $color in $ef5-colors{
	.bg-#{$name}{
		background: $color;
	}
	.bg-hover-#{$name}:hover{
		background: $color;
	}
}
// Border color
@each $name, $color in $ef5-colors{
	.border-#{$name}{
		border-color: $color;
	}
	.border-hover-#{$name}:hover{
		border-color: $color;
	}
}
// svg color
.ef5-svg path{
	fill: var(--accent-color);
}