.vc_column-inner{
	position: relative;
	z-index: 1;
}
.ef5-element-horizontal > .vc_column-inner > .wpb_wrapper{
	@include d-flex();
	margin: 0 $grid-gutter-width / -2;
	> *{
		flex: 0 0 auto;
		padding: 0 $grid-gutter-width / 2;
	}
}