.vc_row {
	position: relative;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
    background-size: 100%;
    &:before,
    &:after{
    	display: none!important;
    }
}
.rtl .vc_row{
	direction: rtl;
}
.add-col-divider{
	> .wpb_column {
		> .vc_column-inner{
			&:after{
				content: '';
				display: block;
				width: 1px;
				height: 31.65%;
				background: #E8E8E8;
				position: absolute;
				top: 50%;
				right: 0;
				@include transform(translateY(-50%));
			}
		}
		&:last-child{
			> .vc_column-inner:after{
				display: none;
			}
		}
	}
}

// Gap 
$vc_col_gap : (
	'0' : 0,
	'1' : 1px,
	'2' : 2px,
	'3' : 3px,
	'4' : 4px,
	'5' : 5px,
	'10' : 10px,
	'15' : 15px,
	'20' : 20px,
	'25' : 25px,
	'30' : 30px,
	'35' : 35px,
	'40' : 40px,
	'50' : 50px,
	'60' : 60px,
	'70' : 70px,
	'80' : 80px,
	'90' : 90px,
	'100' : 100px
);
@each $gap , $gap-value in $vc_col_gap{
	// Default Row
	.vc_column-gap-#{$gap} > .container > .row {
		margin-left: ($gap-value / -2);
		margin-right: ($gap-value / -2);
		> .vc_column_container{
			padding: ($gap-value / 2);
		}
	}
	// Stretch Row
	.vc_column-gap-#{$gap}{
		margin-left: ($gap-value + $grid-gutter-width) / -2;
		margin-right: ($gap-value + $grid-gutter-width) / -2;
		> .vc_column_container{
			padding: ($gap-value / 2);
		}
	}
}

.ef5-row-bg-text{
	font-size: 200px;
	line-height: 1.1;
	margin-top: -20px;
	color: rgba(#eee, .03);
	white-space: nowrap;
}