.wpb-js-composer .vc_tta.vc_general.vc_tta-tabs.vc_tta-style-theme{
	.vc_tta-panel{
		@include transition();
		@include opacity(1);
		.vc_tta-panel-body{
			height: unset !important;
		}
		&:not(.vc_active){
			.vc_tta-panel-body{
				@include opacity(0);
				height: 0 !important;
			}
		}
	}
	
	.vc_tta-tabs-list{
		@include d-flex();
		@media(min-width: $screen-lg-min){
			justify-content: space-between;
		}
		&:before{
			content: '';
			display: block;
			width: 100%;
			border-top: $MainBorder;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}
		.vc_tta-tab{
			flex: 0 0 auto;
    		width: auto;
    		text-align: center;
    		> a{
    			padding-left: 20px;
    			padding-right: 20px;
    		}
		}
	}
	.vc_tta-tabs-list .vc_tta-tab,
	.vc_tta-panel-heading .vc_tta-panel-title{
		position: relative;
		&:before{
			content:'';
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			width: 0;
			height: 4px;
			background: $accent_color;
			@include transition();
		}
		> a{
			font-size: 18px;
			font-weight: 500;
			color: $primary_color;
			padding-top: 16px;
			padding-bottom: 16px;
		}
		&:hover,
		&.vc_active{
			&:before{
				width: 100%;
				left: 0;
			}
			> a{
				color: $accent_color;
			}
		}
	}
	//Mobile
	.vc_active{
		.vc_tta-panel-heading .vc_tta-panel-title{
			&:before{
				width: 100%;
				left: 0;
			}
			> a{
				color: $accent_color;
			}
		}
	}
	.vc_tta-panel{
		.vc_tta-panel-heading .vc_tta-panel-title{
			> a{
				padding-left: 0;
				padding-right: 0;
			}
		}
		&.vc_active{
			&:before{
				width: 100%;
				left: 0;
			}
			> a{
				color: $accent_color;
			}	
		}
	} 
	.vc_tta-panel-body,
	.vc_tta-panel-heading{
		border: 0;
		padding: 0;
	}
	.vc_tta-panels-container{
		@media (min-width: $screen-md-min){
			padding-top: 52px;
		}
	}
}