.ef5-btn-link{
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.5px;
	font-weight: 700;
	text-transform: uppercase;
	.btn-title + .btn-icon{
		padding-left: 12px;
		[dir="rtl"] &{
			padding-left: 0;
			padding-right: 12px;
		}
	}
	.btn-icon + .btn-title{
		padding-left: 12px;
		[dir="rtl"] &{
			padding-left: 0;
			padding-right: 12px;
		}
	}
}