// Default 
$btn-inner-space   : 9px 30px;
$btn-font-size     : 14px;
$btn-line-height   : 15px;
$btn-font-style    : inherit;
$btn-font-weight   : 500;
$btn-text-style    : uppercase;
$btn-letter-spacing: unset;
$btn-color         : $white;
$btn-color-hover   : $primary_color;
$btn-bg-color      : $primary_color;
$btn-bg-color-hover: $accent_color;

// Button Default 
$btn-border   : 2px solid transparent;
// Button Color 
$btn-rounded: (
	'': 5px,
	'1': 1px,
	'2': 2px,
	'3': 3px,
	'4': 4px,
	'5': 5px,
	'6': 6px,
	'7': 7px,
	'8': 8px,
	'9': 9px,
	'10': 10px,
	'18\/5': 18.5px,
	'20': 20px,
	'30': 30px,
	'40': 40px,
	'50': 50px,
	'60': 60px,
	'70': 70px
);