.client-item{
	text-align: center;
}
.client-logo{
	display: block;
	span{
		display: inline-block;
		position: relative;
		vertical-align: top;
	}
}
// Grid
.ef5-client-grid {
	margin: $grid-gutter-width / -2;
	.ef5-client-grid-item{
		padding: $grid-gutter-width / 2;
	}
}
// Carousel
.client-carousel .owl-stage {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.ef5-clients-layout-2{
	.ef5-client-item-inner{
		height: 100%;
	}
	.client-logo{
		border: $MainBorder;
		padding: 30px;
		height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    @include transition();
	    &:hover{
	    	@include box-shadow($BoxShadow8);
	    }
	}
}