.ef5-countdown-bar{
	@include d-flex();
	justify-content: center;
	margin: -15px;
	> .item{
		flex: 0 0 auto;
		padding: 15px;
	}
}
.ef5-countdown-layout-1{
	.item{
		width: 80px;
		height: 80px;
		border: 4px solid #ebebeb;
		@include border-radius(50%);
	}
}