.ef5-counter-1{
	.ef5-counter{
		font-size: 54px;
		line-height: 30px;
		font-weight: 300;
	}
	.counter-title{
		font-size: 13px;
		color: #777;
		line-height: 30px;
	}
	.suffix{
		color: $accent_color;
		font-size: 15px;
	}
}