.ef5-cta{
    + .ef5-cta{
    	margin-top: $grid-gutter-width;
    }
}

.ef5-cta-btn{
	@media (max-width: $screen-sm-max){
		margin-top: $grid-gutter-width;
	}
}
.ef5-cta-layout-1{
	.cta-title {
		font-size: 40px;
	}
	.cta-subtext{
		font-size: 18px;
	}
}

.ef5-cta-layout-2{
	.cta-title{
		font-size: 15px;
		letter-spacing: 0.5px;
		padding-bottom: 3px;
	}
	.cta-subtext{
		font-size: 40px;
	}
}