.ef5-fancy-image{
	height: 100%;
	> div{
		height: 100%;
	}
	.content{
		padding: 60px;
		&.has-bg{
			background: url(../images/bg-with-wave.png) center center no-repeat;
		}
		&.bg-cover{
			background-size: cover;
		}
	}
}
// Layout 1
.ef5-fancy-image-1{
	.content{
		padding: 76px 60px 72px;
		@media (max-width: $screen-sm-max){
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.ef5-heading{
		font-size: 34px;
		line-height: 1.17647059;
	}
	.desc{
		margin-top: 35px;
	}
	.ef5-fancy-image-footer{
		margin-top: 50px;
	}
}
// Layout 2
.ef5-fancy-image-2{
	background: #E6E6E6;
	> div {
		background-color: inherit;
	}
	.content{
		padding: 60px 47px 60px 60px;
		@media (max-width: $screen-sm-max){
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.ef5-heading{
		font-size: 40px;
		line-height: 1.175;
	}
	.desc{
		margin-top: 30px;
		font-weight: 500;
	}
	.ef5-fancy-image-footer{
		margin-top: 60px;
	}
}