.ef5-fancybox{
	position: relative;
}
.ef5-fancybox-icon{
	font-size: 50px;
	max-width: 50px;
	line-height: 1;
	color: $accent_color;
}
.ef5-fancybox-heading{
	padding-bottom: 15px;
	font-size: 20px;
}
.ef5-fancy-footer {
	padding-top: 30px;
	a{
		text-transform: uppercase;
		font-weight: 700;
		font-size: 13px;
		letter-spacing: 0.5px;
	}
}
.ef5-fancybox-1{
	padding:52.5px 50px;
	background: $white;
	z-index: 1;
	.ef5-fancybox-heading{
		line-height: 24px;
		padding-bottom: 20px;
	}
	@media (max-width: $screen-sm-max){
		padding-left: 15px;
		padding-right: 15px;
	}
}
// Layout 2
.ef5-fancybox-2{
	overflow: hidden;
	.ef5-fancy-icon-wrap{
		flex: 0 0 100%;
		width: 100%;
		border-bottom: $MainBorder;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}
	.ef5-fancybox-icon{
		font-size: 60px;
		max-width: 60px;
	}
	.ef5-fancybox-heading{
		font-size: 24px;
		padding-bottom: 20px;
	}
}
// Layout 3
.ef5-fancybox-3{
	.ef5-fancybox-header{
		padding-bottom: 12px;
	}
	.ef5-fancybox-heading{
		padding-bottom: 0;
		line-height: 1.4;
	}
	.ef5-fancybox-icon{
		font-size: 45px;
		max-width: 45px;
		color: $BodyColor;
	}
	&:hover{
		.ef5-fancybox-icon{
			color: $accent_color;
		}
	}
}
.ef5-fancybox-4{
	text-align: center;
	padding: 10px;
	background: $white;
	.ef5-fancybox-inner{
		padding: 40px 40px 35px;
		border: 1px solid transparent;
	}
	
	.ef5-fancy-icon-wrap{
		padding-bottom: 27px;
	}
	.ef5-fancybox-icon{
		margin: 0 auto;
		font-size: 60px;
		max-width: 60px;
	}
	.ef5-fancybox-heading{
		font-size: 24px;
	}
	.desc{
		padding-top: 4px;
	}
	&:hover{
		.ef5-fancybox-icon{
			color: $primary_color;
		}
		.ef5-fancybox-heading{
			color: $accent_color;
		}
		.ef5-fancybox-inner{
			border-color: #EAEAEA;
		}
	}
}
.ef5-fancybox-5{
	text-align: center;
	.ef5-fancybox-icon{
		margin: 0 auto 28px;
		font-size: 70px;
		max-width: 75px;
		img{
			width: auto;
		}
	}
	.ef5-fancybox-heading{
		font-size: 24px;
		line-height: 32px;
	}
}
.ef5-fancybox-6{
	background: $accent_color;
	color: $white;
	padding: 30px 15px;
	overflow: hidden;
	.ef5-fancybox-icon{
		&:not([style]){
			color: $primary_color;
			@include opacity(0.4);
		}
	}
	.ef5-fancybox-heading{
		font-size: 18px;
		padding-bottom: 0;
		color: inherit;
	}
	@media (min-width: $screen-md-min){
		padding: 30px 15.62500%;
		.ef5-fancybox-icon{
			font-size: 156px;
			max-width: 156px;
			margin: -70px 0;
		}
		.ef5-fancybox-heading{
			font-size: 24px;
		}
	}
}

.ef5-fancybox-7 {
	.ef5-fancybox-icon{
		font-size: 60px;
		max-width: 60px;
	}
	.ef5-fancybox-heading{
		text-transform: uppercase;
		font-size: 18px;
		padding-bottom: 18px;
		margin-top: -7px;
	}
}
.ef5-fancybox-8{
	text-align: center;
	.ef5-fancybox-icon{
		margin: 0 auto 30px;
		width: 115px;
		max-width: unset;
		height: 115px;
		line-height: 115px;
		font-size: 50px;
		color: $HeadingColor;
		background: $accent_color;
		@include border-radius(50%);
	}
	.ef5-fancy-icon-wrap + .ef5-fancy-footer{
		padding-top: 0;
	}
	.ef5-fancy-footer{
		white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	a{
    		font-size: 18px;
			text-transform: capitalize;
			letter-spacing: 0;
    	}
	} 
}
// Layout 9
.ef5-fancybox-9{
	.ef5-fancybox-icon{
		width: 57px;
		max-width: 57px;
		height: 58px;
		display: block;
		position: relative;
		font-size: 61px;
		overflow: hidden;
		> span{
			padding-top: 3px;
			@include center-align();
		}
	}
	.ef5-fancybox-heading{
		font-size: 30px;
		line-height: 1.16666667;
		padding-bottom: 0;
		margin-top: -1px;
		@media (max-width: 400px){
			font-size: 20px;
		}
	}
	.desc{
		line-height: 1.2;
		padding-top: 7px;
	}
}