.ef5-heading-wrap{
	.ef5-heading{
		font-size: 40px;
		@media (max-width: $screen-md-max){
			font-size: 30px;
		}
	}
}
.ef5-heading-1{
	.small-heading{
		font-size: 15px;
		letter-spacing: 0.5px;
		font-weight: 700;
		padding-bottom: 5px;
	}
	.desc{
		padding-top: 26px;
		font-size: 18px;
		line-height: 1.55555556;
	}
}
.ef5-heading-2{
	.ef5-heading-btn{
		margin-top: 30px;
	}
	@media (max-width: $screen-md-max){
		.desc{
			margin-top: 30px;
		}
	}
}
.ef5-heading-3{
	.small-heading{
		font-weight: 700;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.5px;
		margin-bottom: 9px;
	}
	.divider{
		width: 70px;
		height: 3px;
		background: $accent_color;
		margin-top: 23px;
		margin-bottom: 35px;
	}
	.ef5-heading.lh-1-35 + .divider{
		margin-top: 20px;
		margin-bottom: 35px;
	}
	.desc{
		//line-height: 1.6; //1.86666667;
	}
	.ef5-heading-btn{
		margin-top: 30px;
		.ef5-btn-link{
			border-color: #606060;
		}
	}
	&.text-center{
		.divider{
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.text-end{
		.divider{
			margin-left: auto;
			[dir='rtl'] &{
				margin-right: auto;
				margin-left: unset;
			}
		}
	}
}
.ef5-heading-4{
	.heading{
		margin-bottom: 25px;
	}
	.ef5-heading-btn{
		margin-top: 34px;
	}
}
.ef5-heading-5{
	.ef5-heading{
		padding-bottom: 15px;
	}
	.desc{
		font-size: 13px;
	}
}
.ef5-heading-6{
	.ef5-heading{
		font-size: 30px;
		padding-bottom: 5px;
	}
}

.ef5-heading-7{
	text-align: center;
	.small-heading{
		display: inline-block;
		font-weight: 700;
		line-height: 1.2;
		position: relative;
		&.has-divider{
			margin-bottom: 23px;
			font-size: 14px;
			line-height: 16px;
			letter-spacing: 1px;
			vertical-align: top;
			&:after{
				content: '';
				display: block;
				padding-top: 5px;
				border-bottom: 2px solid $accent_color;
			}
		}
		&.no-divider{
			margin-bottom: 20px;
			font-size: 15px;
			letter-spacing: 0.5px;
			color: $accent_color;
			&.custom-color{
				margin-bottom: 20px;
			}
		}
	}
	.desc{
		padding-top: 15px;
		font-size: 18px;
		line-height: 28px;
	}
	&.text-center {
		.small-heading:after{
			margin-left: auto;
			margin-right: auto;
		}
		.ef5-heading-wrap-inner{
			justify-content: center;
		}
	}
}
.ef5-heading-8{
	.ef5-heading-wrap-inner{
		border-bottom: $MainBorder;
	}
	.desc{
		margin-top: 30px;
	}
	.heading{
		padding-bottom: 29px;
	}
}

.ef5-heading-9{
	.heading{
		&.lh-1-35{
			margin-top: -3px;
			margin-bottom: -4px;
		}
	}
	.heading2{
		color: $accent_color;
	}
	.desc{
		padding-top: 25px;
		font-size: 18px;
		line-height: 1.55555556;
		&.text-15{
			padding-top: 30px;
		}
	}
}
// Layout 10 
.ef5-heading-10{
	display: unset;
	flex-wrap: unset;
	text-align: center;
	.small-heading{
		font-size: 20px;
		line-height: 1.2;
		padding-bottom: 30px;
		font-weight: 700;
		letter-spacing: 0;
	}
	.heading{
		font-size: 40px;
		line-height: 1.25;
		@media (min-width: $screen-lg-min){
			font-size: 60px;
		}
	}
	.heading2{
		display: block;
	}
	.ef5-heading-btn{
		margin-top: 50px;
	}
	.desc{
		margin-top: 30px;
		color: #eee;
		line-height: 1.2;
	}
}
// layout 11
.ef5-heading-11{
	.small-heading{
		font-weight: 700;
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 0;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 1px;
		color: $accent_color;
	}
	.subheading{
		font-size: 18px;
		line-height: 28px;
		font-weight: 500;
		padding-top: 15px;
	}
	.desc{
		padding-top: 25px;
	}
}
// Layout 12
.ef5-heading-12{
	.small-heading{
		font-weight: 700;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.5px;
		margin-bottom: 5px;
	}
	.divider{
		width: 70px;
		height: 6px;
		background: $accent_color;
		margin-top: 25px;
		margin-bottom: 35px;
	}
	.desc{
		font-size: 18px;
		line-height: 1.55555556;
	}
	.ef5-heading-btn{
		margin-top: 30px;
	}
	&.text-center{
		.divider{
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.text-end{
		.divider{
			margin-left: auto;
			[dir='rtl'] &{
				margin-right: auto;
				margin-left: unset;
			}
		}
	}
}
// Layout 13
.ef5-heading-13{
	text-align: center;
	.small-heading{
		font-weight: 700;
		font-size: 15px;
		line-height: 1.2;
		letter-spacing: 0.5px;
		margin-bottom: 10px;
		color: $accent_color;
	}
	.desc{
		font-size: 18px;
		line-height: 1.55555556;
		margin-top: 15px;
	}
	.ef5-heading-btn{
		margin-top: 30px;
	}
}
// Layout 14
.ef5-heading-14{
	.ef5-heading{
		font-size: 24px;
		line-height: 1.16666667;
	}
	.desc{
		font-size: 13px;
		line-height: 1.15384615;
		padding-top: 15px;
	}
}
// Layout 15
.ef5-heading-15{
	.ef5-heading{
		font-size: 30px;
		line-height: 1.33333333;
		padding-bottom: 20px;
	}
}