.ef5-heading-1{
	.small-heading{
		padding-bottom: 2px;
	}
	.desc{
		padding-top: 50px;
	}
}
.ef5-heading-2{
	text-align: center;
	.main-heading {
		.part2{
			color: $accent_color;
		}
		.part3{
			display: block;
		}
	}
}