.ef5-newsletter-1 .tnp-email{
	margin-bottom: 20px;
}
.ef5-newsletter{
	&.text-white{
		.tnp-email{
			color: white;
		}
	}
}
// Minimal 
.minimal{
	.tnp-privacy-field{
		display: none;
	}
	&.ef5-newsletter-1{
		.tnp-submit{
			background: $accent_color;
			color: $primary_color;
			&:hover{
				background: $primary_color;
				color: $accent_color;
			}
		}
	}
	&.ef5-newsletter-2,
	&.ef5-newsletter-3,
	&.ef5-newsletter-5,
	&.ef5-newsletter-6,
	&.ef5-newsletter-7{
		form{
			position: relative;
			&:after{
				content: "\f30b";
				font-family: $FontAwesome;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				font-size: 18px;
				width: 50px;
				line-height: 50px;
				text-align: center;
			}
			&:hover:after{
				color: $accent_color;
			}
		}
		.tnp-submit{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			background: transparent;
			opacity: 0;
			padding: 0;
			width: 50px;
			z-index: 2;
		}
		.tnp-email{
			padding-right: 60px;
		}
		[dir="rtl"] & {
			form:after{
				right: auto;
				left: 0;
				content: "\f30a";
			}
			.tnp-submit {
				right: auto;
				left: 0;
			}
			.tnp-email{
				padding-right: 15px;
				padding-left: 60px;
			}
		}
	}
	&.ef5-newsletter-3{
		form:after{
		    color: #999999;
		    opacity: 1;
		    font-size: 20px;
		}
	}
	&.ef5-newsletter-4{
		form{
			display: flex;
			margin: -5px;
		}
		input{
			margin: 5px;
			&.tnp-email{
				max-width: 350px;
			}
		}
	}
	&.ef5-newsletter-5,
	&.ef5-newsletter-6{
		form{
			&:after{
				content: "\f1d8";
				background: $accent_color;
				color: $white;
			}
			&:hover:after{
				color: $white;
			}
		}
		[dir="rtl"] & {
			form:after{
				right: auto;
				left: 0;
				content: "\f1d8";
			}
		}
	}
	&.ef5-newsletter-6{
		@media (min-width: $screen-xl-min){
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			.tnp-widget-minimal{
				max-width: 440px;
				min-width: 440px;
			}
		}
		form:after{
			//content: "\f12e";
			//font-family: $FontFlaticon;
		}
		.tnp-email{
			background: #E8E8E8;
		}
	}
	&.ef5-newsletter-7 {
		form:after{
		    color: $accent_color;
		    opacity: 1;
		    font-size: 20px;
		}
		.tnp-email{
			border-color: #DBDBDB;
		}
	}
}

.ef5-newsletter-3,
.ef5-newsletter-7{
	.tnp-email{
		background: transparent;
		border-width: 0 0 2px 0;
		border-color: #656565;
		padding-left: 0;
		[dir='rtl'] &{
			padding-right: 0;
		}
	}
	form:after{
		text-align: end !important;
	}
}
