.ef5-posts-timeline{
	position: relative;
	.entry-meta {
		padding-top: 7px;
	}
	.entry-excerpt{
		padding-top: 18px;
	}
	.entry-footer:before{
		display: none;
	}
	.entry-readmore .fa{
		display: none;
	}
}

.ef5-posts-timeline-1{
	&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -1px;
		border-left: 2px dashed #B8B8B8;
	}
	.tl-center-date{
		position: absolute;
		left: 0;
		right: 0;
	}
	.tl-center-date-inner{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	    width: 78px;
	    height: 78px;
	    background: $white;
	    border: 2px solid $accent_color;
	    color: $accent_color;
	    margin: 0 auto;
	    text-align: center;
	    justify-content: center;
	    position: relative;
	    z-index: 1;
	}

	.post-timeline-item-box{
		background: $white;
	    padding:0;
	    position: relative;
	    z-index: 1;
	    max-width: 71.2328767%;
		@include box-shadow($BoxShadow9);
	}
	.date-title{
		.date{
			color: rgba($white, 0.5);
			border-right: 1px solid rgba($white, 0.3);
			padding-top: 17px;
			padding-bottom: 17px;
			[dir="rtl"] &{
				border-right: 0;
				border-left: 1px solid rgba($white, 0.3);
			}
		}
	}
	.ef5-img{
		margin: 15px auto;
		display: block;
	}
	.ef5-excerpt{
		padding: 0 15px 25px;
	}

	// item style 
	@media (min-width: $screen-lg-min){
		.post-timeline-item-wrap{
			margin-top: -230px;
			&:first-child{
				margin-top: 0;
			}
		}
	}
	.post-timeline-item-box-wrap{
		position: relative;
		&:before{
			content: '';
			width: 20px;
		    height: 20px;
		    @include box-shadow(0 0 0 5px rgba(254, 179, 47, 0.38));
		    background: $accent_color;
			position: absolute;
		    top: 40%;
		    z-index: 1;
		    @include border-radius(50%);
		}
		&:after{
			content: '';
			border-top: 2px dashed #B8B8B8;
			position: absolute;
		    top: calc(40% + 10px);
		}
	}
	.post-timeline-item-wrap{
		.post-timeline-item{
			justify-content: flex-end;
			.post-timeline-item-box-wrap {
				@include d-flex();
				justify-content: flex-end;
				&:before{
					left: -10px;
				    [dir='rtl'] &{
				    	left: auto;
				    	right: -10px;
				    }
				}
				&:after{
					left: 0;
		    		right: 50%;
		    		[dir="rtl"] &{
		    			left: 50%;
		    			right: 0;
		    		}
				}
			}
		}
	}
	.post-timeline-item-wrap:nth-child(odd){
		@media (min-width: $screen-lg-min){
			.post-timeline-item{
				justify-content: flex-start;
				.post-timeline-item-box-wrap {	
					@include d-flex();
					justify-content: flex-start;
					&:before{
						left: auto;
					    right: -10px;
					    [dir='rtl'] &{
					    	left: -10px;
					    	right: auto;
					    }
					}
					&:after{
						left: 50%;					
					    right: 0;
					    [dir="rtl"] &{
					    	left: 0;
					    	right: 50%;
					    }
					}
				}
			}
		}
	}

	@media (max-width: $screen-md-max){
		&:before{
			left: 24px;
			[dir="rtl"] &{
				left: auto;
				right: 24px;
			}
		}
		.tl-center-date{
			padding-bottom: 40px;
			position: relative;
			.tl-center-date-inner{
				margin:0;
				width: 48px;
		    	height: 48px;
		    	font-size: 15px;
			}
		}
		.post-timeline-item-wrap{
			margin-bottom: 40px;
			&:last-child{
				margin-bottom: 15px;
			}
		}
		.post-timeline-item-wrap .post-timeline-item .post-timeline-item-box-wrap{
			&:before,
			&:after{
				left: 29px;
				[dir='rtl'] &{
					left: 50%;
					right: 29px;
				}
			}
		}
		.post-timeline-item-box{
			padding: 15px 15px 0;
			max-width: 80%;
		}
	}
}