.ef5-masonry-sizer{
	width: 0;
	height: 0;
	float: left;
}
.ef5-masonry-gutter{
	width: 30px;
	float: left;
}
.ef5-masonry-item{
	float: left;
	[dir="rtl"] &{
		float: right;
	}
}
.post-masonry-item{
	//width: 25%;
	//padding: 15px;
}
.ef5-posts-masonry{
	//margin: -15px;

}