.ef5-pricing{
	position: relative;
	background: $white;
}
.featured-text{
	background: $accent_color;
	color: $primary_color;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	right: 0;
	[dir="rtl"] &{
		right: auto;
		left: 0;
	}
}

.pricing-img {
	&.img-top{
		margin-bottom: 30px;
	}
	&.img-bottom{
		margin-top: 30px;
	}
}
.pricing-desc{
	padding-top: 13px;
}
.pricing-icon,
.pricing-value{
	font-size: 48px;
}
.pricing-icon{
	line-height: 1;
	padding: 30px 0 0;
}
.pricing-price{
	margin: 37px 0 0;
}
.pricing-currency{
	font-size: 21px;
	letter-spacing: -1.27px;
	vertical-align: top;
	padding-top: 13px;
    display: inline-block;
}
.pricing-value{
	white-space: nowrap;
	letter-spacing: -3px;
}
.pricing-plan{
	@include transform(translateY(-15px));
}
.feature-list{
	margin-top: 37px;
	> div {
		border-bottom: 1px solid #E8E8E8;
		padding: 15px 0;
    	line-height: 1.2;
	}
}
.pricing-footer{
	margin-top: 50px;
}

.pricing-btn{
	background: #EBEBEB;
	display: block;
	color: $primary_color;
}
.pricing-featured {
	z-index: 1;
	.pricing-btn{
		background: $accent_color;
		color: $white;
		&:hover{
			background: $primary_color;
			color: $accent_color;
		}
	}
}

// Layout 1
.ef5-pricing-1{
	border: 1px solid #bab;
	padding: 50px 35px;
	&:hover{
		border-color: $accent_color;
		@include box-shadow(0 0 0 1px $accent_color);
	}
	&.pricing-featured{
		border: 2px solid $accent_color;
		&:hover{
			border-color: $primary_color;
			@include box-shadow(0 0 0 1px $primary_color);
		}
	}
}
// Layout 2
.ef5-pricing-2{
	padding:  50px 45px;
	&.pricing-featured{
		@media (min-width: $screen-lg-min){
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
}
// Layout 3
.ef5-pricing-3{
}