.ef5-process-step{
	margin-top: -20px;
	margin-bottom: -20px;
	.step{		
		padding-top: 20px;
		padding-bottom: 20px;
		&:last-child .step-box-wrap:after{
			display: none;
		}
	}
	.step-box-wrap{
		position: relative;
		@media(min-width: $screen-md-min){
			&:after{
				content: '';
				display: block;
				width: 48px;
				height: 48px;
				position: absolute;
				right: 0;
				top: 50%;
				@include transform(translate(90%,-50%));
			}
			&.odd:after{
				background: url('../images/step-odd.png') center center no-repeat;
			}
			&.even:after{
				background: url('../images/step-even.png') center center no-repeat;
			}
		}
	}
	.step-box{
		position: relative;
		display: inline-block;
	}
	.step-number{
		position: absolute;
		top: -5px;
		right: 5px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 24px;
		letter-spacing: -1.4px;
		font-weight: 700;
		color: $white;
		background: $primary_color;
		[dir="rtl"] &{
			right: auto;
			left: 5px;
		}
	}
	.step-name{
		font-size: 24px;
		padding-top: 38px;
		line-height: 1.16666667;
	}

	&.gutter-100{
		margin-top: -50px;
		margin-bottom: -50px;
		.step{
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
}