.ef5-qc{
	&.text-white{
		color: $white;
		*:not(.qc-icon){
			color: $white;
		}
	}
}

.qc-image{
	margin-bottom: 25px;
}
.qc-direction{
	margin-top: 22px;
}

.ef5-qc-1{
	.qc-icon{
		font-size: 32px;
	}
	.qc-text{
		padding-top: 6px;
		font-size: 14px;
		font-weight: 500;
	}
}

.ef5-qc-2{
	.qc-heading:after{
		content: '';
		display: block;
		border-bottom: $MainBorder;
	    padding-bottom: 13px;
	    margin-bottom: 15px;
	}
	.qc-item{
		padding-bottom: 8px;
		&:last-child{
			padding-bottom: 0;
		}
	}
}
.ef5-qc-3{
	.qc-item{
		padding-top: 11.5px;
    	padding-bottom: 11.5px;
	}
	.ef5-heading{
		font-size: 14px;
		color: $BodyColor;
	}
	.qc-text{
		display: none;
	}
	.qc-icon{
		font-size: 13px;
	}
}
.ef5-qc-4{
	.ef5-heading{
		font-size: 14px;
		font-weight: 500;
	}
	.qc-icon{
		font-size: 12px;
		&.flaticon-close-envelope{
			font-size: 17px;
		}
		&.flaticon-call-answer{
			transform: translate(0, -2px);
			display: inline-block;
		}
	}
}
.ef5-qc-5{
	.qc-icon{
		font-size: 24px;
		display: inline-block;
    	@include transform(rotate(45deg));
	}
	.qc-heading{
		color: $BodyColor;
	}
	.qc-text{
		font-size: 18px;
		font-weight: 700;
	}
}

.mfp-content{
	.ef5-qc-1{
		.qc-item{
			padding-bottom: 30px;
		}
	}
}