.ef5-qc-1{
	.qc-icon{
		font-size: 125%;
	}
}
.ef5-qc-2{
	.qc-direction{
		padding-bottom: 20px;
	}
	.qc-item:last-child{
		padding-top: 18px;
	}
	.qc-direction .icon{
		font-size: 80%;
	}
}
.ef5-qc-3{
	.qc-image{
		margin-bottom: 25px;
	}
	.qc-heading{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 600;
		padding-bottom: 17px;
	}
	.qc-direction{
		padding-bottom: 2px;
		a{
			font-weight: 600;
		}
	}
}
.qc-direction .icon{
	font-size: 80%;
	font-weight: 400;
	padding: 0 10px;
}