.ef5-testimonial-layout-1{
	text-align: center;
	@media (min-width : $desktop-screen){
		padding-left: 100px;
		padding-right: 100px;
	}
}
.ef5-testimonial-layout-2{
	+ .ef5-owl-dots{
		margin-top: 0;
    	padding-top: 20px;
	}
	.ttmn-header {
		position: relative;
		&:after{
			font-family: $FontAwesome;
			content: "\f10e";
			font-size: 79px;
			font-weight: 900;
			line-height: 1;
			color: $accent_color;
			@include opacity(0.2);
			position: absolute;
			top: -5px;
			right: 33px;
			[dir="rtl"] &{
				right: auto;
				left: 33px;
				content: "\f10d";
			}
		}
	}
}

.ef5-testimonial-layout-4{
	.ttmn-text{
		max-width: 1024px;
		position: relative;
		padding: 0 10px;
		margin: 0 auto;
		&:after{
			font-family: $FontAwesome;
			content: "\f10e";
			font-size: 40px;
			font-weight: 900;
			line-height: 1;
			color: $accent_color;
			position: absolute;
			top: 0px;
			right: -40px;
			@media (max-width: $screen-lg-min){
				right: 0;
			}
			[dir="rtl"] &{
				right: auto!important;
				left: -40px;
				content: "\f10d";
				@media (max-width: $screen-lg-min){
					left: 0;
				}
			}
		}
	}
}
.ef5-testimonial-layout-5{
	.ttmn-inner{
		background: $white;
		padding: 25px;
		@include border-radius(10px);
		position: relative;
		&:after{
			font-family: $FontAwesome;
			content: "\f10e";
			font-size: 52px;
			font-weight: 900;
			line-height: 1;
			color: $accent_color;
			position: absolute;
			top: -15px;
			right: 20px;
			[dir="rtl"] &{
				right: auto;
				left: 20px;
				content: "\f10d";
			}
		}
	}
}

.ef5-testimonial-layout-6{
	.ttmn-inner{
		background: #f5f5f5;
		padding: 22px 25px;
		@include border-radius(10px);
		position: relative;
	}
	.tm-avatar{
		position: absolute;
		right: 35px;
		bottom: -32px;
		[dir="rtl"] &{
			right: auto;
			left: 35px;
		}
	}
}