/* CMS Recent Post */
.widget_unbreak_recent_posts{

}
.posts-list{
	overflow: hidden;
	.post-list-entry{
		padding: 20px;
		border-bottom: $MainBorder;
		&:last-child{
			border-bottom: none;
		}
	}
	.ef5-heading{
		margin: 0 0 10px;
	}
	.ef5-meta{
		font-size: $BodyFontSizeS;
	}
	.ef5-featured{
		margin-bottom: 0;
		> a{
			display: block;
		}
	}
	
	&.layout-1,
	&.layout-3{
		background: $white;
		@include box-shadow($BoxShadow);
	}
	&.layout-2{
		.post-list-entry{
			padding: 20px 0;
		}
	}
	&.layout-3{
		.post-list-entry{
			padding: 15px;
			position: relative;
			&:after{
				content: '';
				display: block;
				height: 0;
				width: 4px;
				background: $accent_color;
				position: absolute;
				top: 50%;
				bottom: auto;
				right: 0;
				@include transition();
				[dir="rtl"] &{
					right: auto;
					left: 0;
				}
			}
			&:hover{
				@include box-shadow(0 0 15px 0 rgba(0,0,0,0.10));
				border-bottom-color: transparent;
				&:after{
					height: calc(100% + 1px);
					top: 0;
					bottom: -1px;
				}
			}
		}
		.ef5-heading{
			margin-bottom: 5px;
			font-size: 18px;
			line-height: 21px;
		}
		.ef5-meta{
			font-size: 13px;
			line-height: 15px;
		}
	}
}