.widget_overcome_wg_single_donate{
	margin-bottom: 18px !important;
	.ef5-widget-title{
		font-size: 36px;
		font-weight: 600;
		line-height: 1;
		border-bottom: 1px solid #d7d7d7;
		padding-bottom: 14px;
		margin-bottom: 12px;
	}
	.meta-icon{
		color: $accent_color;
	}
	.post-list-item{
		margin-top: 45px;
	}
}