.header-layout-7 {
	background: $white;
	color: #888888;
	a{
		color: $primary_color;
		&:hover{
			color: $white;
		}
	}
	.header-inner.no-container{
		@media (min-width: 1366px){
			padding-left: 12.5%;
			padding-right: 12.5%;
		}
	}
	
	@media (min-width: 1200px){
		.ef5-navigation-wrap{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 15px;
				bottom: 0;
				width: 200%;
				background: $accent_color;
				[dir="rtl"] &{
					left: auto;
					right: 15px;
				}
			}
		}
		.ef5-logo{
			padding-top: 65px;
			padding-bottom: 65px;
		}
		#ef5-navigation{
			padding-left: 65px;
			[dir="rtl"] &{
				padding-left: 15px;
				padding-right: 65px;
			}
		}
		.ef5-header-menu > li > a {
		    height: 87px;
		}
		.menu-default{
			> .current_page_item > a,
			> .current-menu-item > a,
			> .current_page_ancestor > a,
			> .current-menu-ancestor > a,
			> li > a:hover,
			> li:hover > a{
				color: $white;
			}
		}
		.ef5-header-menu > li.menu-item-has-children > a > .menu-title:after {
		    content: "\f107";
		    display: block;
		    text-align: center;
		    margin-bottom: -21px;
		}
		.ef5-header-menu > li > a {
		    height: 89px;
		}
		.nav-extra .header-icon{
			&:hover{
				color: $white;
			}
			.cart_total{
				background: $primary_color;
			}
		}
		&.header-sticky {
			.ef5-logo{
				display: none;
			}
			.menu-sticky > li > a:hover,
			.menu-sticky > li.current_page_item > a, 
			.menu-sticky > li.current-menu-item > a, 
			.menu-sticky > li.current_page_ancestor > a, 
			.menu-sticky > li.current-menu-ancestor > a{
				color: $primary_color;
			}
			.nav-extra .header-icon{
				&:hover{
					color: $primary_color;
				}
			}
		}
	}
	// Quick Contact 
	.qc-item{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		.qc-text{
			color: $primary_color;
		}
	}
}