.header-layout-4{
	.ef5-navigation-wrap{
		@media (max-width: $screen-xl-min){
			//order: 3;
			//display: none;
		}
	}
	@media (min-width: 1200px){
		.ef5-header-menu {
			margin-left: -13px;
			margin-right: -13px;
			> li{
				padding-left: 13px;
				padding-right: 13px;
				> a {
			    	height: 100px;
			    }
			}
		}
		.nav-extra {
			margin-left: -15px;
			margin-right: -15px;
			.header-icon{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

}