.header-layout-6 {
	background: #1f1f1f;
	color: $white;
	a,
	.header-icon.ef5-header-cart-icon.style-2 .header-count{
		color: $white;
		&:hover{
			color: $accent_color;
		}
	}
	.header-inner.no-container{
		@media (min-width: 1366px){
			padding-left: 12.5%;
			padding-right: 12.5%;
		}
	}
	
	@media (min-width: 1200px){
		.ef5-navigation-wrap{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 15px;
				bottom: 0;
				width: 200%;
				background: #303030;
				[dir="rtl"] &{
					left: auto;
					right: 15px;
				}
			}
		}
		.ef5-logo{
			padding-top: 65px;
			padding-bottom: 65px;
		}
		#ef5-navigation{
			padding-left: 65px;
			[dir="rtl"] &{
				padding-left: 15px;
				padding-right: 65px;
			}
		}
		.ef5-header-menu > li > a {
		    height: 89px;
		}
		.ef5-header-menu > li{
			&.menu-item-has-children > a > .menu-title:after {
			    content: "\f107";
			    display: block;
			    text-align: center;
			    position: absolute;
			    left: 50%;
			    @include transform(translate(-50%,10px));
			    opacity: 0;
			    visibility: hidden;
			    @include transition();
			}
			&:hover,
			&.current-menu-ancestor,
			&.current-menu-item{
				> a > .menu-title:after{
					opacity: 1;
					visibility: visible;
					@include transform(translate(-50%,0));
				}
			}
		}

		&.header-sticky .ef5-logo{
			display: none;
		}
	}
	// Quick Contact 
	.qc-item{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		.qc-heading{
			color: #999;
		}
	}
	@media (min-width: 1366px) and (max-width:1440px){
		.ef5-header-contact-plain{
			max-width: 35%;
			.ef5-qc {
				justify-content: flex-start!important;
			}
		}
	}
}