.badge-info{
	background: $accent_color;
	color: $white;
	padding: 5px 20px;
	* {
		color: $white;
	}
	a{
		color: $white;
		&:hover{
			color: $white;
		}
	}
	> .icon:after{
		content: '\00a0\00a0';
		display: inline-block;
	}
}

.ef5-badge-date-1{
	background: $white;
	color: $primary_color;
	@include border-radius(5px);
	padding: 10.5px 5px;
	line-height: 1;
	text-transform: uppercase;
	min-width: 40px;
	text-align: center;
	> span{
		display: block;
	}
	.date{
		font-size: 22px;
		font-weight: 500;
		padding-bottom: 3px;
	}
	.month{
		font-size: 14px;
	}
}